.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li
          = link_to new_group_path, class: "top-items__icons__btn" do
            = icon("far", "edit")
        %li
          = link_to edit_user_path(current_user), class: "top-items__icons__btn" do
            = icon("fas", "cog")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group__group-link" do
          %p.group__group-name
            = group.name
          %p.group__meseeage
            まだメッセージがありません
